<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @picture.content %>
</p>

<% unless @picture.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<%= link_to '編集しなおす', edit_picture_path(@picture) %> |
<%= link_to '登録する', pictures_path %>
<%= link_to 'お気に入り一覧へ',  favorites_path %>
